In [2]:
import pandas as pd
import os
import re

In [3]:
def extract_temperature(filename):
    """
    Extract the numerical part of the temperature from the filename.
    Example: 'polishedYellow_30-3000cm-1_100%_532exc_15s_6K_point2' -> 6
    """
    match = re.search(r'(\d+)K', filename)
    return int(match.group(1)) if match else None

def extract_degree(filename):
    match = re.search(r'(\d+)_degree_polarizer', filename)
    return int(match.group(1)) if match else None

def determine_test_type(filename):
    if 'cm-1' in filename.lower() and '30-2200cm-1' in filename:
        return 'raman'
    elif 'nm' in filename.lower() and '550-630nm' in filename:
        return 'pl'
    else:
        return 'unknown'

In [ ]:

# Your specified file path
directory = r'C:\Users\Q9gJYx\OneDrive - Duke University\Desktop\Mar_28_NaYb_Polar'

data_raman = {}
data_pl = {}

for filename in os.listdir(directory):
    if filename.endswith('.txt'):
        test_type = determine_test_type(filename)
        if test_type == 'unknown':
            continue

        temperature = extract_temperature(filename)
        file_path = os.path.join(directory, filename)

        data = pd.read_csv(file_path, sep='\t', header=None, names=['X', 'Y'])
        data.set_index('X', inplace=True)

        if test_type == 'raman':
            if temperature not in data_raman:
                data_raman[temperature] = []
            data_raman[temperature].append(data['Y'])
        elif test_type == 'pl':
            if temperature not in data_pl:
                data_pl[temperature] = []
            data_pl[temperature].append(data['Y'])

# Combine and average data with the same temperature
combined_data_raman = pd.DataFrame()
combined_data_pl = pd.DataFrame()

for temp, y_values in data_raman.items():
    combined_data_raman[temp] = pd.concat(y_values, axis=1).mean(axis=1)

for temp, y_values in data_pl.items():
    combined_data_pl[temp] = pd.concat(y_values, axis=1).mean(axis=1)

# Convert all column names to strings and then check if they are digits
combined_data_raman.columns = [int(str(col)) if str(col).isdigit() else col for col in combined_data_raman.columns]
combined_data_pl.columns = [int(str(col)) if str(col).isdigit() else col for col in combined_data_pl.columns]

# Sort the DataFrames by column names (which are now temperatures)
combined_data_raman = combined_data_raman.reindex(sorted(combined_data_raman.columns), axis=1)
combined_data_pl = combined_data_pl.reindex(sorted(combined_data_pl.columns), axis=1)

print("Sorted Raman Test Data:")
print(combined_data_raman)
print("\nSorted PL Test Data:")
print(combined_data_pl)

# After processing and printing the data
# Specify the Excel file name
excel_file_name = 'test_data_output1.xlsx'

# Create a Pandas Excel writer using openpyxl as the engine
with pd.ExcelWriter(excel_file_name, engine='openpyxl') as writer:
    # Write each DataFrame to a different worksheet
    combined_data_raman.to_excel(writer, sheet_name='Raman Test Data')
    combined_data_pl.to_excel(writer, sheet_name='PL Test Data')

print(f"Data exported to {excel_file_name}")

In [5]:

# Your specified file path
directory = r'C:\Users\Q9gJYx\OneDrive - Duke University\Desktop\Mar_28_NaYb_Polar\NaYb_Polar'

data_raman = {}
data_pl = {}

for filename in os.listdir(directory):
    if filename.endswith('.txt'):
        
        degree = extract_degree(filename)
        file_path = os.path.join(directory, filename)

        data = pd.read_csv(file_path, sep='\t', header=None, names=['X', 'Y'])
        data.set_index('X', inplace=True)
        
        if degree not in data_raman:
            data_raman[degree] = []
        data_raman[degree].append(data['Y'])

# Combine and average data with the same temperature
combined_data_raman = pd.DataFrame()

for degree, y_values in data_raman.items():
    combined_data_raman[degree] = pd.concat(y_values, axis=1).mean(axis=1)

# Convert all column names to strings and then check if they are digits
combined_data_raman.columns = [int(str(col)) if str(col).isdigit() else col for col in combined_data_raman.columns]

# Sort the DataFrames by column names (which are now temperatures)
combined_data_raman = combined_data_raman.reindex(sorted(combined_data_raman.columns), axis=1)

print("Sorted Raman Test Data:")
print(combined_data_raman)

# After processing and printing the data
# Specify the Excel file name
excel_file_name = 'test_data_output1.xlsx'

# Create a Pandas Excel writer using openpyxl as the engine
with pd.ExcelWriter(excel_file_name, engine='openpyxl') as writer:
    # Write each DataFrame to a different worksheet
    combined_data_raman.to_excel(writer, sheet_name='Raman Test Data')

print(f"Data exported to {excel_file_name}")

Sorted Raman Test Data:
            NaN     0.0     20.0    40.0    60.0    80.0    100.0   120.0  \
X
30.1612     792.5   873.0   781.0   717.0   716.5   761.0   966.0  1059.0
30.6877    1036.0  1171.0  1003.0   932.0   924.0   998.0  1259.5  1393.0
31.2163    1359.0  1477.0  1272.0  1157.5  1165.0  1287.0  1668.5  1832.5
31.7428    1792.0  1905.5  1637.0  1502.5  1539.0  1720.0  2175.5  2399.0
32.2692    2335.5  2462.5  2118.0  1932.0  2003.0  2249.0  2913.0  3155.5
...           ...     ...     ...     ...     ...     ...     ...     ...
1998.3600   138.0   124.5   119.5   107.5    92.0   111.0   109.0    95.0
1998.7600   139.0   127.5   118.0   102.0    88.0   107.0   106.0    96.0
1999.1600   139.0   132.0   117.0   100.0    87.0   117.5   104.0   100.5
1999.5600   137.5   121.0   115.5    88.0    90.0   112.5   106.0    99.5
1999.9600   141.0   125.0   123.5    98.5    88.0   114.0   105.5    97.0

            140.0   160.0   180.0   200.0   220.0   240.0   260.0   280.0  \
X
30.1612    1179.5  1206.5  1125.0   959.0   840.0   819.0   840.0   926.0
30.6877    1563.5  1556.5  1464.0  1269.0  1124.5  1066.5  1105.0  1226.0
31.2163    1985.5  1972.5  1788.0  1614.5  1424.5  1392.0  1455.5  1636.0
31.7428    2596.5  2577.5  2351.0  2005.5  1770.0  1802.0  1944.5  2142.0
32.2692    3434.0  3365.0  3023.0  2587.0  2350.0  2386.0  2511.5  2838.0
...           ...     ...     ...     ...     ...     ...     ...     ...
1998.3600   399.0   577.5   292.0   125.0    69.5    64.5    64.0    66.5
1998.7600   409.0   574.5   289.5   126.5    71.5    71.0    68.0    69.5
1999.1600   403.5   573.0   288.0   122.5    70.5    66.0    63.0    67.5
1999.5600   416.5   584.0   286.5   127.5    73.0    69.0    67.0    65.5
1999.9600   406.0   572.0   289.5   121.5    73.5    69.5    68.0    65.5

            300.0   320.0   340.0   360.0
X
30.1612    1113.5  1146.5  1122.5   888.0
30.6877    1454.5  1510.0  1501.0  1202.0
31.2163    1929.0  2001.0  1948.0  1554.5
31.7428    2538.0  2640.0  2586.0  2060.5
32.2692    3369.5  3430.0  3380.0  2672.0
...           ...     ...     ...     ...
1998.3600    66.5    62.0    64.0    62.0
1998.7600    64.5    62.5    62.0    65.0
1999.1600    59.5    65.5    59.5    58.0
1999.5600    62.5    65.0    62.5    63.0
1999.9600    63.0    64.5    58.0    63.0

[4302 rows x 20 columns]
Data exported to test_data_output1.xlsx

In [3]:
# Replace 'your_file.xlsx' with the path to your Excel file
input_file = r'C:\Users\Q9gJYx\OneDrive - Duke University\Desktop\Mar_28_NaYb_Polar\test_data_output1.xlsx'
output_file = 'transposed_file.xlsx'

# Read the Excel file
df = pd.read_excel(input_file)

# Transpose the DataFrame
transposed_df = df.T

# Write the transposed DataFrame to a new Excel file
# Note: You need to reset the index if you want to keep the row labels as the first column in the output file.
transposed_df.reset_index().to_excel(output_file, index=False)